<div class="panel panel-default">
    <div class="panel-heading"><strong>Native Package</strong>
    </div>
    <div class="panel-body">
        <strong>How it works</strong>
        <p>
            We provide a native wrapper for Terminology-NG web page.</br> Installer provides the desktop application.</br>
            We did this because we were tired of having to ⌘-tab or alt-tab to the browser and then search through the numerous open tabs when we were using other tabs.
        </p>
        <a class="btn btn-sm btn-primary" href={{installer}} target="_blank">Download Installer</a>
    </div>
</div>